:root {
  --text-primary: #262f38;
  --text-hint: rgba(38, 47, 56, 0.6);
  --link-hover: #465461;
  --bg-main: #f8f8f8;
  --bg-page: #f25f46;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: var(--bg-main);
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--text-primary);
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 70px;
  line-height: 86px;
  letter-spacing: -0.06em;
}

h2 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 54px;
  line-height: 64px;
  letter-spacing: -0.06em;
}

p {
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.01em;
}

.button {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  padding: 16px 28px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}
.button__label {
  display: flex;
  align-items: center;
}
.button__icon {
  display: inline-block;
  margin-right: 12px;
  width: 24px;
  height: 24px;
}
.button__svg {
  display: inline-block;
  fill: currentColor;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.container {
  width: 100%;
  height: 100%;
  padding: 0 164px;
  scroll-behavior: smooth;
}

.section {
  height: 100vh;
  scroll-snap-align: start;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
}

.brand {
  position: relative;
  font-size: 22px;
  line-height: 29px;
  color: rgba(38, 47, 56, 0.9);
}
.brand::before {
  content: url(assets/images/brand.svg);
  display: block;
  position: absolute;
  top: -10px;
  left: -15px;
  width: 45px;
  height: 46px;
  z-index: -1;
}

.greetings {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 10%;
}

.send_email {
  margin-top: 46px;
  background: var(--text-primary);
  box-shadow: 0px 6px 0px #161D24;
  border-radius: 16px;
  line-height: 24px;
  color: #fff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.send_email:hover {
  transform: translateY(-2px);
}
.send_email:active {
  box-shadow: 0px 2px 0px #161D24;
  transform: translateY(0);
}

.section_greetings__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-page);
  z-index: -100;
}
.section_greetings__bg-l {
  position: absolute;
  top: -400px;
  left: -250px;
  width: 850px;
  height: 850px;
  border-radius: 50%;
  background-color: var(--bg-main);
  z-index: -80;
}
.section_greetings__bg-r {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 300px;
  background-color: var(--bg-main);
  z-index: -80;
  clip-path: ellipse(300px 300px at 100% 100%);
}

.section_works {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 50px;
}

.work_list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  grid-gap: 64px 110px;
  padding: 36px 0;
}
.work_card {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
  border-radius: 16px;
}
.work_card__img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.github_link {
  display: flex;
  align-items: center;
  margin: 0 auto;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: var(--text-primary);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.github_link:hover {
  color: var(--link-hover);
}
.github_link > svg {
  fill: currentColor;
  width: 1.4em;
  height: 1.4em;
  margin-left: 12px;
}
